include ../utility/bemto-setting
include ../utility/_globalVars
include ../utility/_mixins
include ../utility/_functions

block vars
	- var bodyClass;
	- var pageTitle;
	- var pageHead;
	- var dir;
	- var layout;
	- var isSidebar; // маркер наличия сайдбара на странице
	- var componentsList; //список имен всех компонентов
	- var componentsCriticalList; // список имен компонентов, стили которых нужно подключить инлайного в head
	- var componentsScriptsList; // список имен компонентов, скрипты которых нужно подключить на страницу. они не должны подключаться в main.js

doctype html
html(lang='ru-RU')

	head
		meta(charset='UTF-8')
		meta(name='format-detection', content='telephone=no')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title= pageTitle
		meta(name="description" content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo deserunt, culpa sint repellat odit nihil nisi. Aliquam possimus, est odit atque tenetur accusantium quisquam aspernatur labore, consequuntur asperiores nulla libero.")
		// Мета инфо
		include ../utility/_favicon

		//-
			// Google Tag Manager
			script.
				(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
				new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
				j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
				})(window,document,'script','dataLayer','GTM-K886D8B');
			// End Google Tag Manager

		// Подключение общих критический стилей
		link(rel='stylesheet', href= dir + '../assets/css/critical/critical.css' inline)

		// Подключение стилей с помощью loadCSS техники
		link(rel='preload' href= dir + 'css/styles.min.css' as='style' onload="this.onload=null;this.rel='stylesheet'")
		noscript
			link(rel='stylesheet' href= dir + 'css/styles.min.css')

		script.
			!function(t){"use strict";t.loadCSS||(t.loadCSS=function(){});var e=loadCSS.relpreload={};if(e.support=function(){var e;try{e=t.document.createElement("link").relList.supports("preload")}catch(t){e=!1}return function(){return e}}(),e.bindMediaToggle=function(t){var e=t.media||"all";function a(){t.addEventListener?t.removeEventListener("load",a):t.attachEvent&&t.detachEvent("onload",a),t.setAttribute("onload",null),t.media=e}t.addEventListener?t.addEventListener("load",a):t.attachEvent&&t.attachEvent("onload",a),setTimeout(function(){t.rel="stylesheet",t.media="only x"}),setTimeout(a,3e3)},e.poly=function(){if(!e.support())for(var a=t.document.getElementsByTagName("link"),n=0;n<a.length;n++){var o=a[n];"preload"!==o.rel||"style"!==o.getAttribute("as")||o.getAttribute("data-loadcss")||(o.setAttribute("data-loadcss",!0),e.bindMediaToggle(o))}},!e.support()){e.poly();var a=t.setInterval(e.poly,500);t.addEventListener?t.addEventListener("load",function(){e.poly(),t.clearInterval(a)}):t.attachEvent&&t.attachEvent("onload",function(){e.poly(),t.clearInterval(a)})}"undefined"!=typeof exports?exports.loadCSS=loadCSS:t.loadCSS=loadCSS}("undefined"!=typeof global?global:this);

	body.no-js(class=bodyClass)

		//-
			// Google Tag Manager (noscript)
			noscript
				iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-K886D8B', height='0', width='0', style='display:none;visibility:hidden')
			// End Google Tag Manager (noscript)

		script.
			document.querySelector('body').classList.remove('no-js');

		.wrapper
			include ../partials/header/header
			block main
			include ../partials/footer/footer

		// Модальные окна
		block popups

		// Фон мобильного меню
		.mob-overlay

		//- // Виджет для перехода по всем страницам проекта
		//- include ../blocks/pages-viget/pages-viget

		// Libs
		script(src="./js/libs.min.js" defer)

		// Основные скрипты для всех страниц
		script(src="./js/app.min.js" defer)
